body{
    background-color: rgba(74, 23, 168, 0.973);
    color: white;
    font:normal 15pt italic;

}
section{
    font:italic normal 15pt;
    background:rgb(0, 0, 0);
    border-radius:10px ;
    padding: 15px ;
    width: 500px ;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.863) ;
    text-align: center;
    width: 100%;overflow-y: hidden;font:normal 14px arial;border: 0 none; outline: 0;
    
}